.message {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.3125em;
    margin-bottom: 0.625em;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0.625em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message.user {
    justify-content: flex-end;
}

.message.user:last-of-type, .message.bot:last-of-type{
    margin: 0;
}

.message.user .user-text {
    text-align: right;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--right-msg-bg);
    box-shadow: var(--right-msq-shadow);
    border-right-color: #ffe6cb;
}

.message.bot .bot-text {
    padding: 5px 10px;
    border-radius: 10px;
    text-align: left;
    background-color: var(--left-msg-bg);
    outline: 1rem solid transparent;
    box-shadow: var(--left-msg-shadow);
    border-left-color: #c7eafc;
}


.message-header {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure header spans full width */
    margin-bottom: 5px;
}

.message.user {
    align-items: flex-end; /* Align user messages to the right */
}

.message.user .message-header {
    align-self: flex-end; /* Align the header of the user message to the right */
    text-align: right;
}

.message.bot .message-header {
    align-self: flex-start; /* Align the header of the bot message to the left */
    text-align: left;
}

.message.bot {
    align-items: flex-start; /* Align bot messages to the left */
}

.message .text strong {
    display: inline; /* Display name inline */
    font-size: 0.85em;
    margin-right: 10px;
}

.message .text small {
    display: inline; /* Display timestamp inline */
    font-size: 0.75em;
    color: #666;
}

@media only screen and (max-width: 768px) {
    .message.bot .bot-text, .message.user .user-text{
        max-width: 90%;
    }

}


@media only screen and (min-width: 768px) {
    .message.bot .bot-text, .message.user .user-text{
        max-width: 70%;
    }
}
