
/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
    .chat-wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 867px;
        margin: 0;
        min-height: calc(100vh - 50px);
        border: var(--border-gen);
        border-radius: 5px;
        background: var(--chat-bg);
        font-size: 12pt;
        box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    }

}

@media only screen and (min-width: 768px) {
    .chat-wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 867px;
        font-size: 14pt;
        margin: 25px 10px;
        min-height: calc(100vh - 50px);
        border: var(--border-gen);
        border-radius: 5px;
        background: var(--chat-bg);
        box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    }
}

:root {
    --body-bg: linear-gradient(#dddddd, #ffe6cb);
    --chat-bg: #ebebec;
    --border-gen: 0.3px solid #85744c;
    --left-msg-bg: #f6b51d;
    --right-msg-bg: #eec979;
    --button-color: #d2400f;
    --left-msg-shadow: -0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1);
    --right-msq-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1);
    --chat-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    --text-color: #373D13;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--chat-bg);
    font-family: 'Roboto', sans-serif;
}

.header {
    background: var(--chat-bg);
    width: 100%;
    padding: 1.5em;
    font-size: 1.25rem;
    color: var(--text-color);

}

.chat-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 37.5em;
    height: 100vh;
    padding: 1.25em;
    overflow: auto;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    color: var(--text-color)
}

.bg {
    width: 100%;
    height: 100%;
    background-image: url('./citrus.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 0.3125em;
    margin-bottom: 0.625em;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0.625em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
